.safe-page-container {
    position: absolute;
    top: 7rem;
    left: 14rem; /*14rem*/
    background-color: #242835;
    height: calc(80vh); /*70vh*/
    width: 70vw; /*70vw*/
    overflow: auto;
    display: flex;
    overflow-y: hidden;
    /* z-index: 1; */
  
    /* padding: 3rem; */
  }
  .display-safes {
    flex: 40%;
    background: #151820;
  }
  .display-secrets {
    flex: 60%;
    background-color: 242835;
  }
  .display-safes-all-safes {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
  }
  .display-safes-all-safes p {
    color: white;
    font-weight: bolder;
  }
  span {
    font-weight: lighter;
    color: #5e627c;
  }
  .search-container {
    background: #20232e;
    display: flex;
    /* padding: 0.3rem 1rem; */
    align-items: center;
  }
  #search-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  #search-box-input {
    background: #20232e;
    border: 0;
    caret-color: #5e627c;
    color: #5e627c;
    outline: none;
    font-size: 1rem;
  }
  #safe-image {
    width: 10rem;
    height: 10rem;
  }
  .safe-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 0.7rem;
  }
  #add-btn-image {
    margin-top: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }
  .safes-display-banner {
    background-image: url(../../images/safe-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
    margin: -.75rem 0 -1rem;
    height: 10rem;
    position: relative;
    /* z-index: 4; */
  }
  .secrets-display-box {
    background: linear-gradient(180deg, #151820, #2c3040);
    padding: 2rem;
    height: calc(100% - 12.25rem);
  }
  .safes-display-caption {
      position: absolute;
      color: white;
      top: 4rem;
      left: 14.2rem;
      right: 4.5rem;
      white-space: pre;
      font-size: 1.3rem;
  }
  .safes-display-para {
      position: absolute;
      top: 6rem;
      left: 14.2rem;
      right: 4.5rem;
      font-size: .8rem;
      color: #c4c4c4;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }
  .secrets-display-box-banner {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: .1rem solid #222632;
      height: 1.8rem;
  }
  #addSecretsBtn {
      height: 1.4rem;
      width: 1.4rem;
  }
  #secretIcon {
      height: 9rem;
      width: 9rem; 
  }
  .secrets-list-box {
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      /* padding-top: 3rem; */
      /* height: 8.5rem; */
      height: 80%;
  }
  .secret-add-text {
      color: white;
      font-size: .75rem;
      width: 45%;
      text-align: center;
  }
  #add-secrets-btn {
      font-weight: 700;
      font-size: 1rem;
      border: none;
      padding: .3rem 1rem;
      cursor: pointer;
      /* background-color: #e20074; */
      /* color: #fff; */
      margin-left: 1rem;
  }
  .btn-enabled {
    background: #e20074;
    color: #fff;
  }
  .btn-disabled {
    background: #454c5e;
    color: #fff;
  }
  .zero-secrets{
      font-size: .8rem;
      margin: 0.3rem 0;
      color: #5e627c;
  }
  #safe-icon {
      height: 4rem;
  }
  .safe-icon-container {
      color: #9CB8C4;
      display: flex;
      padding-left: 3rem;
      gap: 1rem;
      justify-content: center;
      align-items: center;
  }
  h2 {
      padding-left: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
  .safe-input-box{
      display: flex;
      flex-direction: column;
      padding-left: 3rem;

  }
  .modal-full {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  input {
      width: 11rem;
  }
  select {
      width: 11rem;
  }
  .safe-list-display-card {
    height: 4rem;
    /* background: linear-gradient(
      90deg,#72134b,#1d212c); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;

    color: white;
  }
  .safe-list-display-card-select {
    height: 4rem;
    background: linear-gradient(
      90deg,#72134b,#1d212c);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;

    color: white;
  }
  .edit-delete-container {
    display: flex;
    gap: 1rem;
  }
  .safe-list-display-card-container {
    height: 17rem;
  }
  .safe-list-name-display-box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  #last-updated {
    color: #5e627c;
    font-size: .8rem;
  }
  #safeIcon {
    height: 2rem;
    width: 2rem;
  }
  #editIcon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
  }
  #deleteIcon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
  }
  .add-btn-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;

  }